{% extends 'base.html.twig' %}

{% block title %}Edades{% endblock %}

{% block content %}
    <table class="table table-sm table-hover">
        <thead>
        <tr>
            <th scope="col">Nombre</th>
            <th scope="col">Descripción</th>
            <th scope="col">URL</th>
        </tr>
        </thead>
        <tbody>
        {% for age in ages %}
            <tr class="clickable" data-href="{{ path('age_edit', {id: age.id}) }}">
                <td>{{ age.name }}</td>
                <td>{{ age.description }}</td>
                <td>{{ age.url }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}