{% extends 'base.html.twig' %}

{% block title %}Editar nivel{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-6">
            <h2>Editar nivel</h2>
            <form action="" method="post" class="mb-2">
                {% include 'form/field.html.twig' with
                    {type: 'text', entity: 'level', name: 'name', label: 'Nombre', value: level.name, required: true} only %}

                {% include 'form/field.html.twig' with
                    {type: 'text', entity: 'level', name: 'description', label: 'Descripción', value: level.description} only %}

                {% include 'form/field.html.twig' with
                    {type: 'text', entity: 'level', name: 'url', label: 'URL', value: level.url} only %}

                {% if canEdit %}
                    <button type="submit" class="btn btn-primary btn-block">Editar</button>
                    <a href="{{ path('level_delete', {id: level.id}) }}" class="btn btn-danger btn-block confirmable">Borrar</a>
                {% endif %}
            </form>
            <a href="{{ path('level_index') }}">Volver a la lista</a>
        </div>
    </div>
{% endblock %}
