{% extends 'base.html.twig' %}

{% block title %}Crear periodo{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-6">
            <h2>Crear periodo</h2>
            <form action="{{ path('period_new', {season_id: season.id|encodeUuid}) }}" method="post" class="mb-2">
                {% include 'common/field.html.twig' with
                    {type: 'text', entity: 'period', name: 'name', label: 'Nombre', value: name, required: true} only %}

                {% include 'common/field.html.twig' with
                    {type: 'date', entity: 'period', name: 'initDate', label: 'Inicio', value: initDate, required: true} only %}

                {% include 'common/field.html.twig' with
                    {type: 'date', entity: 'period', name: 'finishDate', label: 'Final', value: finishDate, required: true} only %}

                <button type="submit" class="btn btn-primary btn-block">Guardar</button>
            </form>
            <a href="{{ path('season_edit', {season_id: season.id|encodeUuid}) }}">Volver a la temporada</a>
        </div>
    </div>
{% endblock %}
