{% extends 'base.html.twig' %}

{% block title %}Editar alumno{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-6">
            <h2>Crear alumno</h2>
            <form action="" method="post">
                {% include 'form/field.html.twig' with
                    {type: 'text', entity: 'customer', name: 'name', label: 'Nombre', required} only %}

                {% include 'form/field.html.twig' with
                    {type: 'text', entity: 'customer', name: 'surname', label: 'Apellidos'} only %}

                {% include 'form/field.html.twig' with
                    {type: 'date', entity: 'customer', name: 'birthdate', label: 'Fecha de nacimiento'} only %}

                {% include 'form/field.html.twig' with
                    {type: 'email', entity: 'customer', name: 'email', label: 'E-mail'} only %}

                {% include 'form/field.html.twig' with
                    {type: 'text', entity: 'customer', name: 'phone', label: 'Teléfono'} only %}

                {% include 'form/field.html.twig' with
                    {type: 'text', entity: 'customer', name: 'notes', label: 'Observaciones'} only %}

                <button type="submit" class="btn btn-primary btn-block">Guardar</button>
            </form>
            <a href="{{ path('customer_index') }}">Volver a la lista</a>
        </div>
    </div>
{% endblock %}
