{% extends 'base.html.twig' %}

{% block title %}Editar disciplina{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-6">
            <h2>Editar disciplina</h2>
            <form action="" method="post" class="mb-2">
                {% include 'common/field.html.twig' with
                    {type: 'text', entity: 'discipline', name: 'name', label: 'Nombre', value: discipline.name, required: true} only %}

                {% include 'common/field.html.twig' with
                    {type: 'text', entity: 'discipline', name: 'description', label: 'Description', value: discipline.description} only %}

                {% include 'common/field.html.twig' with
                    {type: 'text', entity: 'discipline', name: 'url', label: 'URL', value: discipline.url} only %}

                {% if canEdit %}
                    <button type="submit" class="btn btn-primary btn-block">Editar</button>
                    <a href="{{ path('discipline_delete', {discipline_id: discipline.id|encodeUuid}) }}" class="btn btn-danger btn-block confirmable">Borrar</a>
                {% endif %}
            </form>
            <a href="{{ path('discipline_index') }}">Volver a la lista</a>
        </div>
    </div>
{% endblock %}
