{% extends 'base.html.twig' %}

{% block title %}Crear disciplina{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-6">
            <h2>Crear disciplina</h2>
            <form action="" method="post" class="mb-2">
                {% include 'form/field.html.twig' with
                    {type: 'text', entity: 'discipline', name: 'name', label: 'Nombre', value: name, required: true} only %}

                {% include 'form/field.html.twig' with
                    {type: 'text', entity: 'discipline', name: 'description', label: 'Description', value: description} only %}

                {% include 'form/field.html.twig' with
                    {type: 'text', entity: 'discipline', name: 'url', label: 'URL', value: url} only %}

                <button type="submit" class="btn btn-primary btn-block">Guardar</button>
            </form>
            <a href="{{ path('discipline_index') }}">Volver a la lista</a>
        </div>
    </div>
{% endblock %}
