{% extends 'base.html.twig' %}

{% block title %}Crear temporada{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-6">
            <h2>Crear temporada</h2>
            <form action="{{ path('season_new') }}" method="post" class="mb-2">
                {% include 'common/field.html.twig' with
                    {type: 'select', entity: 'season', name: 'school', label: 'Escuela', options: schools, value: school, required: true} only %}

                {% include 'common/field.html.twig' with
                    {type: 'date', entity: 'season', name: 'initDate', label: 'Inicio', value: initDate, required: true} only %}

                {% include 'common/field.html.twig' with
                    {type: 'date', entity: 'season', name: 'finishDate', label: 'Final', value: finishDate, required: true} only %}

                <button type="submit" class="btn btn-primary btn-block">Guardar</button>
            </form>
            <a href="{{ path('season_index') }}">Volver a la lista</a>
        </div>
    </div>
{% endblock %}
