{% extends 'base.html.twig' %}

{% block title %}Zonas{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-12">
            <h2>Zonas <a href="{{ path('zone_new') }}" class="btn btn-primary">Nueva</a></h2>
            <table class="table table-sm table-hover">
                <thead>
                <tr>
                    <th scope="col">Nombre</th>
                    <th scope="col">Descripción</th>
                </tr>
                </thead>
                <tbody>
                {% if zones|length == 0 %}
                    <tr><td colspan="7" class="text-center">Sin resultados</td></tr>
                {% else %}
                    {% for zone in zones %}
                        <tr class="clickable" data-href="{{ path('zone_edit', {id: zone.id}) }}">
                            <td>{{ zone.name }}</td>
                            <td>{{ zone.description }}</td>
                        </tr>
                    {% endfor %}
                {% endif %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}